name: web

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches:
      - main
  workflow_dispatch:


jobs:
  call-run-server:
    uses: UW-THINKlab/resilience/.github/workflows/run-dev-server.yml@main
  build-and-publish:
    runs-on: ubuntu-latest
    # This workflow accesses secrets and checks out a PR, so only run if labelled
    # https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
    # if: contains(github.event.pull_request.labels.*.name, 'preview')
    defaults:
      run:
        working-directory: ./src/support_sphere

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        flutter-version: '3.29.2'
    - run: flutter pub get
    # original values are in deployment/values.cloud.yaml
    - run: |
        flutter build web \
        --release \
        --base-href "/resilience/" \
        --web-renderer html \
        --dart-define=SUPABASE_ANON_KEY=${{ secrets.CLOUD_DB_JWT_ANON_KEY}} \
        --dart-define=SUPABASE_URL=${{ secrets.CLOUD_DB_URL}}

    - name: Upload Pages HTML
      uses: actions/upload-pages-artifact@v3
      with:
        path: src/support_sphere/build/web

    - name: Setup GitHub Pages
      uses: actions/configure-pages@v5

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
